.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: #FFFFFFBB;
    padding: 20px;
    border-radius: 10px;
    float: right;


}

header {
    position: realtive;
    padding: 20px;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    background-color: white;
}
h1 {
    font-size: 2rem;
}

section {
    padding: 20px;
    margin: -9px;
    height: 600px;
    background-image: url("imagens/Como\ Fazer\ o\ Churrasco\ Perfeito.jpg") ;
    background-size:cover;
    overflow: hidden;


}

h1 {
    margin-top: 0;
}

button {
    border-radius: 5px;
    background-color: white;
    

}

input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}