.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: #FFFFFFBB;
    padding: 20px;
    border-radius: 10px;
    float: right;


}

section {
    padding: 20px;
    margin: -10px;
    height: 600px;
    background-image: url("imagens/junior-reis-40_gFiMaavo-unsplash\ \(2\).jpg") ;
    background-size:cover;
    overflow: hidden;


}

h1 {
    margin-top: 0;
}

button {
    border-radius: 5px;
    background-color: white;
    

}

input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}